@page "/ListaInscripciones"

@using _1erParcial_Aplicada2.Controllers;
@using _1erParcial_Aplicada2.Models;

<h3>Lista de Inscripciones</h3>
@if(lista == null)
{
    <a>No hay elementos agregados....</a>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Fecha</th>
                <th>Semestre</th>
                <th>EstudianteId</th>
                <th>Cred. Limites</th>
                <th>Cred. Tomados</th>
                <th>Cred. Disponibles</th>
                <th>Monto</th>
                <th>Balance</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in lista)
             {
            <tr>
                <td>@item.InscripcionId</td>
                <td>@item.Fecha</td>
                <td>@item.Semestre</td>
                <td>@item.EstudianteId</td>
                <td>@item.Limite</td>
                <td>@item.Tomados</td>
                <td>@item.Disponibles</td>
                <td>@item.Monto</td>
                <td>@item.Balance</td>
                <td><a class="btn btn-outline-info" href="InscripcionesComponent/@item.InscripcionId">Ver</a></td>
            </tr>
             }
            </tbody>
    </table>
}


@code {
    InscripcionesController controller = new InscripcionesController();
    List<Inscripciones> lista = new List<Inscripciones>();

    protected override void OnInitialized()
    {
        lista = controller.GetList(A => true);
    }



}
